.sliders {
    overflow: hidden;
}

.slider {
    display: flex;
    left: -100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateX(100%);
}

@media screen and (min-width: 30em) {
    .slider {
        left: -50%;
        transform: translateX(50%);
    }
}

@media screen and (min-width: 40em) {
    .slider {
        left: -33.3333333333%;
        transform: translateX(33.3333333333%);
    }
}

@media screen and (min-width: 50em) {
    .slider {
        left: -25%;
        transform: translateX(25%);
    }
}

.item-container {
    text-align: center;
    flex: 1 0 100%;
    order: 2;
}

@media screen and (min-width: 30em) {
    .item-container {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 40em) {
    .item-container {
        flex-basis: 33.3333333333%;
    }
}

@media screen and (min-width: 50em) {
    .item-container {
        flex-basis: 25%;
    }
}

.item {
    padding: 5px;
}

.item > img {
    width: 100%;
    height: auto;
}

.showing {
    display: block;
}


.buttonController {
    padding: 0.5em 1em;
    border: 0;

    border-radius: 0.25em;
    background: #1100bb;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 50px;
    color: #fff;
}

.buttonController:hover,
.buttonController:focus {
    cursor: pointer;
    background-color: #FABD44;
}

.buttonController:focus {
    outline: 0;
}

    .right-arrow, .left-arrow {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform ease-in .1s;
    }

    .right-arrow:hover, .left-arrow:hover {
        transition: transform ease-in .1s;
        transform: scale(1.1)
    }

    .right-arrow {
        position: absolute;
        top: 50%;
        right: 25px;
        z-index: 999;
    }

    .right-arrow img {
        transform: translate(2px, 0);
    }

    .left-arrow {
        position: absolute;
        top: 50%;
        left: 25px;
        z-index: 999;
    }

    .left-arrow img {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }


/*
.right-arrow, .left-arrow {
    display: none;
}*/
